nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem 1.75rem 6rem;
    z-index: 200;
    top: 0;
    background-color: #fff;
    align-items: center;
}
nav h3{
    font-weight: 1000;
    font-size: larger;
    cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    padding: 0px 15px 0px 15px;
    font-weight: bold;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.home{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 6rem;
}
.content{
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 40rem;
    justify-content: center;
    position: relative;
}
.home-main{
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}
.main-text{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}
.main-text h1{
    color: #2d2e32;
    font-size: 4.2rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}
.main-text p{
    font-weight: 400;
    margin-left: 0.5rem;
}
.profile-icons{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}
.profile-icons a img{
    height: 1.5rem;
    width: 1.5rem;
}
.main-img{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 20rem;
    position: relative;
    width: 70%;
}
.skills-row{
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.2rem;
    position: absolute;
}
.skills-row p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-family: Mulish,sans-serif;
    font-weight: 600;
    margin-right: 5rem;
    padding-right: 2rem;
    font-size: large;
    left: 0;
}
.skills-row ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
}
.skills-row ul li{
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
}
.skills-row ul li img{
    height: 1.5rem;
    width: 1.5rem;
}
.logos{
    max-width: 40rem;
}
.about{
    padding: 3rem 0rem 7rem 0rem;
}
.about-img{
    align-items: center;
}
.about-img img{
    border-radius: 1.7rem;
    height: 30rem;
    width: 30rem;
}
.about-matter{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-left: .5rem;
}
.about-text{
    max-width: 37rem;
}
.about-heading{
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.about-sub-heading{
    color: #2d2e32;
    font-family: Poppins,sans-serif;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 2rem;
}
.about-text .describe{
    color: #767676;
    font-family: Mulish,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}