nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem 1.75rem 6rem;
    z-index: 200;
    top: 0;
    background-color: #fff;
    align-items: center;
}
nav h3{
    font-weight: 1000;
    font-size: larger;
    cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    padding: 0px 15px 0px 15px;
    font-weight: bold;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.home{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 6rem;
}
.content{
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 40rem;
    justify-content: center;
    position: relative;
}
.home-main{
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}
.main-text{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}
.main-text h1{
    color: #2d2e32;
    font-size: 3.6rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}
.main-text p{
    font-weight: 400;
    margin-left: 0.5rem;
}
.profile-icons{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}
.profile-icons a img{
    height: 1.5rem;
    width: 1.5rem;
}
.main-img{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 20rem;
    position: relative;
    width: 70%;
}
.skills-row{
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.2rem;
    position: absolute;
}
.skills-row p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-family: Mulish,sans-serif;
    font-weight: 600;
    margin-right: 5rem;
    padding-right: 2rem;
    font-size: large;
    left: 0;
}
.skills-row ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
}
.skills-row ul li{
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    cursor: pointer;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;
}
.skills-row ul li img{
    height: 1.5rem;
    width: 1.5rem;
}
.logos{
    max-width: 40rem;
}
.about{
    padding: 5rem 5rem 6rem 5rem;
}
.about-img{
    align-items: center;
}
.about-img img{
    border-radius: 1.7rem;
    height: 30rem;
    width: 30rem;
}
.about-matter{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.about-text{
    max-width: 37rem;
}
.about-heading{
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.about-sub-heading{
    color: #2d2e32;
    font-family: Poppins,sans-serif;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 2rem;
}
.about-text .describe{
    color: #767676;
    font-family: Mulish,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}
.about-button{
    padding-top: 1rem;
}
.about-button a{
    border-radius: .3rem;
    color: white;
    background-color: #147efb;
    align-items: center;
    padding: .3rem .5rem .3rem .5rem;
}
footer{
    background-color: #2d2e32;
    padding: 5rem 0;
    width: 100%;
}
.contact{
    padding: 3rem 5% 7rem 12%;
}
.container-new{
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 6rem;
}
#submit-response{
    text-align: center;
    color: red;
}
.container-new2{
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 3rem;
}
.contact-matter{
    padding-top: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.contact-form{
    max-width: 45rem;
    align-items: center;
    height: auto;
    width: auto;
    padding: 4rem 3rem;
    background-color: black;
    border: 1px solid black;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}
.contact-form h3{
    text-align: center;
    font-weight: 500;
    font-size: larger;
}
.fields-div{
    padding-bottom: 1.7rem;
}
.input{
    width: 100%;
    color: white;
    background-color: black;
    border-bottom: 1px solid rgb(157, 157, 157);
}
.input:focus{
    outline: none;
}
.contact-submit-div{
    margin-top: .5rem;
    background-color: white;
    max-width: 5rem;
    align-items: center;
    justify-content: center;
}
.contact-button{
    color: black;
    font-weight: 700;
    padding: .2em .8rem .2rem .8rem;
}
.contact-img img{
    height: 30rem;
    width: 30rem;
    border-radius: 20%;
}
.contact-bottom{
    color: #147efb;
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.projects{
    padding: 5rem 0 7rem 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.container-new h3{
    text-align: center;
    color: #147efb;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.container-new2 h3{
    text-align: center;
    color: #147efb;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.projects-list{
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    max-width: 70rem;
}
.item{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem .5rem 3rem;
    background-color: #fff;
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    max-width: 34rem;
}
.item img{
    height: 9rem;
}
.project-detail{
    padding-top: 1rem;
}
.project-detail p {
    color: #767676;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}
.project-buttons{
    display: flex;
    align-items: center;
    gap: 3rem 6rem;
}
.project-buttons a{
    padding: 2rem 0;
    display: flex;
    align-items: center;
}
.project-buttons a img{
    height: 1.2rem;
    width: 1.2rem;
}
.eye-icon{
    padding-top: .1rem;
}